*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* something new */
html{
    scroll-behavior: smooth;
}
header{
    background-color: #141414;
    height: 60px;
}
header > a{
    /* color: #be67fe; */
    color: #5a5959;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    /* something new */
    transition: color 0.3s ease;
}
/* something new */
header > a:hover{
    color:  whitesmoke;
}
main{
    color: white; 
    background-color: #1b1b1bfd;
}
#main-section{
    padding: 20px;
    height: 800px;
}
.main-bio {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}
.main-summary {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}
.main-itens > h1, h3{
    font-family: 'Montserrat', sans-serif;
}
#education-section{
    border: 1px solid white;
    /* border: 1px solid #8539BE; */
}
#work-section{
    border: 1px solid white;
}
#certification-section{
    border: 1px solid white;
}