*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* something new */
html{
    scroll-behavior: smooth;
}
header{
    background-color: #141414;
    height: 60px;
    border-bottom: rgb(49, 11, 85) solid 3px ;
    box-shadow: 0px 2px 10px 1px rgba(49, 11, 85, 0.8);
}
 nav > div > a{
    /* color: #be67fe; */
    color: #5a5959;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    /* something new */
    transition: color 0.4s ease;
    /* display: flex; */
    /* justify-content: flex-end; */
}
/* something new */
nav> div > a:hover{
    color:  rgb(62, 14, 107);
    /* font-size: 19px;  I intend to add this later, need to find a way to make only one of the ancor tags bigger*/
}
/* I tried to do this by myself perhaps later Ill change it */
.menu-item{
    display: flex;
    flex-direction: row-reverse;
}
main{
    color: white; 
    background-color: #1b1b1bfd;
}
#main-section{
    padding: 20px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-itens > h1, h3{
    font-family: 'Montserrat', sans-serif;
}
.main-itens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main-bio {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    margin: 30px;
}
/* Just decided to add a button to downdload the updated CV */
.main-bio > button{
    margin: 0px;
    padding: 0px;
}
/* resolver problema de pontas brancas q aparecem no botão, quero deixar ele menor */
#button-cv{
    font-size: 15px;
    text-decoration: none;
    padding: 19px;
    border-radius: 20px;
    background-color: #141414;
    color: rgb(49, 11, 85);
    cursor: pointer;
}
/* something new */
#button-cv:active{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    /* transform: translateY(2px); ainda não entendi o que é isso muito bem */
}
.main-summary {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}
#education-section{
    border: 1px solid white;
    /* border: 1px solid #8539BE; */
}
#work-section{
    border: 1px solid white;
}
#certification-section{
    border: 1px solid white;
}